<%= form_for([@wiki, @new_collaborator]) do |f| %>
<div class='new_header'> Add a New Collaborator! </div>
  <div class="field">
    <%= f.select 'user_id', options_for_select(@collaborator_users.collect{ |u| [u.email, u.id] }) %>
  </div>
</br>
  <div class="actions">
    <%= f.submit "Add Collaborator" %>
  </div>
<% end %>