<div class="container.fluid">
  <div class="panel">
    <h3><%= markdown @wiki.title %></h3>
    <% if @wiki.private? %>
          Private
      <% end %>
      <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-mini' %>

      <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-mini btn-danger pull-right', 
      data: { confirm: 'Are you sure you want to delete this Wiki' } %>
    <div class="panel panel-content">
      <p><%= markdown @wiki.body %></p>
    </div>
  </div>
</div>
